<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PackageCompareUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <PackageCompareUtility.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdateChoice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AULastUpdateTS" serializeAs="String">
        <value>2010-07-01</value>
      </setting>
      <setting name="AULastIgnoredVsn" serializeAs="String">
        <value>1007-01-0000</value>
      </setting>
    </PackageCompareUtility.Properties.Settings>
  </userSettings>
</configuration>