<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="S3SA_DLL_ExpImp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <S3SA_DLL_ExpImp.Properties.Settings>
      <setting name="AssyViewerCmd" serializeAs="String">
        <value />
      </setting>
      <setting name="AssyViewerArgs" serializeAs="String">
        <value />
      </setting>
    </S3SA_DLL_ExpImp.Properties.Settings>
  </userSettings>
</configuration>
